<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ajax</title>
    </head>
    
    <body>
        <div>
            <button>もっと読む</button>
            <div id="result"></div>
        </div>
                
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        
        <script>
            $(function(){
                $("button").click(function(){
                    $("#result").load("more", function(){
                        $("#message").css("color", "red");
                    });
                });
            });
        </script>
    </body>
</html>